header {
       background-image: url('../img/HeadImg.jpg');
   
}
@media (min-width: 576px) {
    .card-text {
        color: black;
}
}

@media (min-width: 768px) {
    .card-text {
        color:black;
    }
}

@media (min-width: 992px) {
    .card-text {
        color:black;
    }
}
 body{
 background-color: #FAF0E6;
 }
